/* braces {} */
/* parentheses () */
/* dot . */
/* quote '"? */
/* comma , */
/* colon : */
.c-tag,
.c-attr-braces{
  color: #9cb6dd;
}
.c-vue-in,
.c-braces,
.c-parentheses,
.c-dot,
.c-quote,
.c-comma,
.c-colon{
  color: #787878;
}
.c-keyword,
.c-attr-key_vlaue,
.c-attr-parentheses,
.c-library{
  color: #4a84c8;
}
.c-id,
.c-string{
  color: #5a8d3a;
}
.c-var,
.c-vue,
.c-params,
.c-attr-value,
.c-components,
.c-vue-function,
.c-function{
  color: #714499;
}
.c-default{
  color: #3b3b3b;
}
.c-attr,
.c-function-kind,
.c-function_name{
  color: #a43731;
}
.c-attr-vue{
  color: #62b588;
}
.c-chinese{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: #787878;
  line-height: 2em;
}
.c-type{
  color: #714499;
}
.c-this{
  color: #a06733;
}
.c-component{
  color: #a43731;
}
.c-strong{
  font-weight: bold;
}
