@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("RobotoMono-Regular.ttf");
}
code,pre{
  display: block;
  font-family: "Roboto Mono", Monaco, courier, monospace, Consolas, Microsoft YaHei;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
/* 
*   布局相关
*/
body{
  min-width: 610px;
  font-size: 14px;
  background-color: #f2f2f2;
}
/* 
*   纸
*/
.paper{
  position: relative;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 4em;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.15);
}
.half{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.half:nth-of-type(odd){
  padding-right: .2em;
}
.half:nth-of-type(even){
  padding-left: .2em;
}

/* 
*   标题
*/
.head{
  position: relative;
  padding: 2em 0;
  border-bottom: .3em solid #41b682;
  border-image: linear-gradient(to right, #41b682 , #85d069) 1 1;
  -webkit-border-image: -webkit-linear-gradient(to right, #41b682 , #85d069)  1 1;
  -o-border-image: -moz-linear-gradient(to right, #41b682 , #85d069) 1 1;
}
.head > .title{
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 3em;
  color: #36485e;
}
.spacing-1{
  letter-spacing: .06em;
}
.logo-box{
  display: inline-block;
}
.head .logo{
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  padding: .3em 1em;
  margin: .1em .9em;
  font-size: 1.6em;
  border-radius: 3em;
  color: #fff;
  background-color: #41b682;
  transition: all .5s;
}
.head .logo:hover{
  box-shadow: inset 4.6em 0em #36485e;
}
/* 
*   主要
*/
.main{
  padding: 2em 0;
}

/* 
*   模块
*/
.module{
  padding: 2em;
  margin-bottom: 1em;
  border-radius: .8em;
  position: relative;
  transition: all .2s;
}
.module:hover{
  background-color: #f5fcff;
}
.module > .title{
  font-size: 1.8em;
  font-weight: bold;
  color: #36485e;
}
.module > .icon{
  z-index: 2;
  position: absolute;
  right: 2.6em;
  top: 2em;
  width: 4.5em;
  height: 4.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/titleIcon.png);
}
.images-box{
  position: absolute;
  top: 0;
  left: -1.5em;
  z-index: 2;
}
.images-box >.images{
  position: relative;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: cover;
}
.help-box{

}
.help-box >.help{
  z-index: 3;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.module > .group{
  margin: 1em 0;
  position: relative;
}
.group .depict{
  z-index: 2;
  font-size: 1.2em;
  color: #9b9696;
  margin-bottom: .6em;
}

/* 
* 代码框
*/
.code{
  position: relative;
  padding: 1em;
  border-radius: .5em;
  color: #3b3b3b;
  border: .1em solid #eeefeb;
  overflow-x: auto;
  white-space: pre;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .2s;
}
.code:hover{
  border-color: #cccccc;
}

/* 
* 打印
*/
.download{
  position: fixed;
  right: 3em;
  top: 0;
  font-size: 1.2em;
  background-color: #f9b900;
  color: #fff;
  width: 2.1em;
  box-sizing: border-box;
  padding: .5em;
  padding-bottom: 2em;
  transition: all 0.2s;
}
.download:hover{
  background-color: #36485e;
}
.download::after{
  content: '';
  position: relative;
  left: -1.65em;
  border-radius: .2em;
  top: 1em;
  width: 0;
  height: 0;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-bottom: 1em solid #f2f2f2;
}