/* 
*   代码框样式
*/
.s-1{
  position: absolute;
  right: 0;
  padding: 1em;
  line-height: 1.5em;
}
.left-10{
  margin-left: 10em;
}
.left-12{
  margin-left: 12em;
}

/* 
*   其他框样式
*/
.block{
  padding: 2em;
  border-radius: .5em;
}
.ps{
  background-color: #eeefeb;
}
.ps > div{
  display: inline-block;
}
.ps >.logo-m{
  height: 6em;
  width: 11em;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/masteryLogo.png);
}
.word{
  vertical-align: top;
}
.word .from{
  font-size: 1.2em;
  color: #36485e;
  line-height: 2.6em;
}
.word .link{
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;
  color: #36485e;
  text-decoration: none;
}
.word .link:hover{
  text-decoration: dashed;
} 
.mylink{
  font-size: 1.3em;
  border-bottom: 0.2em solid #62b58c;
}
/* 
*   辅助图片
*/
.h-key{
  height: 5.1em;
  width: 10.6em;
  top: 2.5em;
  left: 11em;
  background-image: url(../images/h-key.png);
}
.h-bind{
  height: 5em;
  width: 11em;
  top: 3em;
  left: 2em;
  background-image: url(../images/h-bind.png);
}
.h-action{
  height: 6.8em;
  width: 10em;
  top: 4.6em;
  left: 2.5em;
  background-image: url(../images/h-action.png);
}
.h-component-1{
  height: 3em;
  width: 18em;
  top: 2.6em;
  left: 9.5em;
  background-position: 0 0;
  background-image: url(../images/h-component.png);
}
.h-component-2{
  height: 2em;
  width: 18em;
  top: 8.3em;
  left: 8.5em;
  background-position: 0 -4em;
  background-image: url(../images/h-component.png);
}
.h-component-3{
  height: 2em;
  width: 18em;
  top: 21.8em;
  left: 4.5em;
  background-position: 0 -6.5em;
  background-image: url(../images/h-component.png);
}
.h-component-4{
  height: 2em;
  width: 18em;
  top: 28.3em;
  left: 12.5em;
  background-position: 0 -9em;
  background-image: url(../images/h-component.png);
}
.h-component-5{
  height: 4em;
  width: 18em;
  top: 38.8em;
  left: 12.5em;
  background-position: 0 -12em;
  background-image: url(../images/h-component.png);
}
.h-component-6{
  height: 2em;
  width: 18em;
  top: 47em;
  left: 6em;
  background-position: 0 -16em;
  background-image: url(../images/h-component.png);
}
.h-component-7{
  height: 2em;
  width: 18em;
  top: 59.5em;
  left: 4.5em;
  background-position: 0 -19em;
  background-image: url(../images/h-component.png);
}

.h-custom{
  height: 4.6em;
  width: 19em;
  top: .6em;
  left: 13.5em;
  background-position: 0 0;
  background-image: url(../images/h-custom.png);
}
/* 
*   标题图片
*/
.i-binding{
  background-position: 0 .1em;
}
.i-actions{
  background-position: 0 -4.4em;
}
.i-component{
  background-position: 0 -8.8em;
}
.i-hook{
  background-position: 0 -13.2em;
}
.i-slot{
  background-position: 0 -17.8em;
}
/* 
*   装饰图片
*/
.i-component1{
  top: 8em;
  background-image: url(../images/cpmponentImg.png);
  background-position: 0 0;
}
.i-component2{
  top:20em;
  background-image: url(../images/cpmponentImg.png);
  background-position: 0 -3em;
}
.i-component3{
  top: 46em;
  background-image: url(../images/cpmponentImg.png);
  background-position: 0 -6em;
}